Tests: compilation-test
Depends: @, g++, pkg-config, libc6-dev, libusockets-dev, libuv1-dev

Tests: installation-test
Depends: @

Tests: pkg-config-test
Depends: @, g++, pkg-config, libc6-dev, libusockets-dev, libuv1-dev
